{% extends 'info/base.html' %}
{% block content %}
<h1><b><u>Info om hotellet</u></b><h1>
<hr>
    <h4>Hotellet er et lille familie hotel, som ligger tæt på skoven. <br> Der er ca 3 km. til stranden og lystbådhavnen.</h4>
<hr>
    <h1><b><u>Tanker bag projectet</u></b><h1>
    <h3>- Prøve at lave med reservation fra kalender. <br> Derudfra lave udregning af antal dage og pris + antal personer.(se kode til food-delevery)<h3>
        <h3>- få billeder ind af værelser og pruge 'pop up' til beskrivelser (se 'censor/dommer/dommer/info.html' i replit)<h3>
            <h3>- er kun en dato ved reservation, mangler afrejse</h3>
            <h3>- lave checkbos ved reservation, for at checke op på at det, den er rigtig.<br>Se om input kan slettes efter dato</h3>
            <h3>- har fået lavet modal, men kan ikke få alle værelser med.<br>- prøve om modal virker, hvis beskrivelse kommer i egen app(kunne ikke få egen app til at køre)</h3>
            
{% endblock %}