{% extends 'info/base.html' %}
{% block content %}


<h1><b><u>I er altid velkommen til at kontakte os</u></b><h1>
    <div class="row justify-content-left mt-5">
    <div class="col-md-8 col-sm-15 offset md-1 p-4 text-left">
    <hr>
 
<h1><b><u>Reseptionen og kontor</u></b><h1>

    <h3><b>Mail:</b> lonehilke@gmail.com<h3>
        <h3><b>Tlf:</b> 21463836<h3>
            <h3></h3>
            <hr>
            
            <h1><b><u>Køkkenet:</u></b><h1>
                <h3><b>Mail:</b> hilke@mail.dk<h3>
                    <h3><b>Tlf:</b> 230662925<h3>
                        <h3></h3>
                    <hr>
                        <h1><b><u>Aktiviteter:</u></b><h1>
                            <h3><b>Mail:</b> smsmh@gmail.dk<h3>
                                <h3><b>Tlf:</b> 220147254<h3>
                                    <h3></h3>
                </div>
            </div>
            
{% endblock %}