<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

  body{
    background-color: lawngreen;
  }

  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #d3d3d3;
  }

  .submit{
    background-color: #6BA3E8;
  }

  .center-column{
    width:600px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
  }

  .item-row{
    background-color: #906abd;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
  }

  .btn-danger{
    background-color: #ffae19;
    border-color: turquoise;
  }

</style>
<body>
<div class="container mb-3">
    <div class="center-column">
  <h2><i><b><u>Log in</u></b></i></h2>
      
</body>
      <form method="post" action="{% url 'komind' %}">
          {% csrf_token %}
          
          <label for="username">Brugernavn</label>
          <input type="text" name="brugernavn" required>
         <label for="password">Adgangskode</label>
          <input type="text" name="adgangskode" required>
          <button type="submit">login</button>
      </form>


 <!-- <form method="post"  action="{% url 'melde' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <input class="btn btn-info" type="submit" name="login">
  </form>

  <div class="todo-list">

  {% for meld in melde %}
    <div class="item-row">
    <a class="btn btn-sm btn-info" href="{% url 'komind' melde.id %}">login</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_skole' skole.id %}">Delete</a>-->
      
    <!--  {% if brugernavn == melde.brugernavn %}
      {% if adgangskode == melde.adgangskode %}
     <action="forside/">
        <center><h1>welcome back {{melde.brugernavn}}!</h1></center>-->
      <!--<a href="forside/">Home</a> -->
     <!--<a href="https://censor2.loje.repl.co/forside/"></a>
 
      <strike>{{ forside }}</strike>
          <a class="btn btn-sm btn-info" href="forside/">login</a>
         {% else %}
          <span>{{ forside }}</span> 
          {% endif %}
          {% endif %}
        </div>
     {% endfor %} 
  </div>
</div>
</div>-->